Repository boyechko/pdf-autoa11y: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotless-apply, maven-test

spotless-apply:
  name: Format code with spotless
  entry: mvn spotless:apply
  language: system
  pass_filenames: false
  fail_fast: true

maven-test:
  name: Run Maven tests
  entry: mvn test -q
  language: system
  pass_filenames: false

tests: Add GoalDrivenIntegrationTest.remediateAndCompareToGoal
  pom.xml
  src/test/java/net/boyechko/pdf/autoa11y/GoalDrivenIntegrationTest.java
Due: spotless-apply, maven-test

feat(CLI): Add --dump-tree and --dump-tree-detailed arguments
  src/main/java/net/boyechko/pdf/autoa11y/ui/cli/PdfAutoA11yCLI.java
Due: spotless-apply, maven-test

tests: remediateAndCompareToGoal outputs LCS diff of struct trees
  pom.xml
  src/test/java/net/boyechko/pdf/autoa11y/GoalDrivenIntegrationTest.java
Due: spotless-apply, maven-test

chore(pre-commit): Execute tests quietly
  .pre-commit-config.yaml
Due: maven-test

tests: remediateAndCompareToGoal tests against toDetailedTreeString
  src/test/java/net/boyechko/pdf/autoa11y/GoalDrivenIntegrationTest.java
Due: spotless-apply, maven-test

feat(fixes): NormalizePageParts sets /Pg; adds /T with page number
  src/main/java/net/boyechko/pdf/autoa11y/fixes/NormalizePageParts.java
  src/test/java/net/boyechko/pdf/autoa11y/fixes/NormalizePagePartsTest.java
Due: spotless-apply, maven-test

docs: Add CHANGELOG.md
  CHANGELOG.md
Due: none

feat(ProcessingService): Phase 4 applies any newly-added fixes
  src/main/java/net/boyechko/pdf/autoa11y/core/ProcessingService.java
Due: spotless-apply, maven-test

feat(visitors,fixes): EmptyElementVisitor, RemoveEmptyElements fix
  src/main/java/net/boyechko/pdf/autoa11y/core/ProcessingDefaults.java
  src/main/java/net/boyechko/pdf/autoa11y/fixes/RemoveEmptyElements.java
  src/main/java/net/boyechko/pdf/autoa11y/issues/IssueType.java
  src/main/java/net/boyechko/pdf/autoa11y/visitors/EmptyElementVisitor.java
Due: spotless-apply, maven-test

feat(rules,fixes): UnexpectedWidgetRule, RemoveWidgetAnnotation
  src/main/java/net/boyechko/pdf/autoa11y/core/ProcessingDefaults.java
  src/main/java/net/boyechko/pdf/autoa11y/fixes/RemoveWidgetAnnotation.java
  src/main/java/net/boyechko/pdf/autoa11y/issues/IssueType.java
  src/main/java/net/boyechko/pdf/autoa11y/rules/UnexpectedWidgetRule.java
Due: spotless-apply, maven-test

feat(CLI,tests): CLI, remediateAndCompareToGoal use trees with MCRs
  src/main/java/net/boyechko/pdf/autoa11y/ui/cli/PdfAutoA11yCLI.java
  src/test/java/net/boyechko/pdf/autoa11y/GoalDrivenIntegrationTest.java
Due: spotless-apply, maven-test

feat(document): toDetailedTreeString() lists MCRs by kind
  src/main/java/net/boyechko/pdf/autoa11y/document/Content.java
  src/main/java/net/boyechko/pdf/autoa11y/document/StructureTree.java
Due: spotless-apply, maven-test

fix(tagschema): LBody allows the same ISLEs as P
  src/main/resources/tagschema-PDF-UA1.yaml
Due: maven-test

fix(StructureTree): Prettier OBJR/MCR labels in toDetailedTreeString()
  src/main/java/net/boyechko/pdf/autoa11y/document/StructureTree.java
Due: spotless-apply, maven-test

tests(GoalDriven): remediateAndCompareToGoal() strips OBJR obj #s
  src/test/java/net/boyechko/pdf/autoa11y/GoalDrivenIntegrationTest.java
Due: spotless-apply, maven-test

feat(document/Content): Add bullet glyph detection
  src/main/java/net/boyechko/pdf/autoa11y/document/Content.java
Due: spotless-apply, maven-test

docs(CHANGELOG): Update with recent changes
  CHANGELOG.md
Due: none

feat(core/ProcessingDefaults): Add BulletGlyphVisitor to suppliers
  src/main/java/net/boyechko/pdf/autoa11y/core/ProcessingDefaults.java
Due: spotless-apply, maven-test

fix(core/ProcessingDefaults): Wire in ParagraphOfLinksVisitor
  src/main/java/net/boyechko/pdf/autoa11y/core/ProcessingDefaults.java
Due: spotless-apply, maven-test

fix(core/ProcessingDefaults): Disconnect ParagraphOfLinksVisitor
  src/main/java/net/boyechko/pdf/autoa11y/core/ProcessingDefaults.java
Due: spotless-apply, maven-test

feat(visitors): Add BulletGlyphVisitor
  src/main/java/net/boyechko/pdf/autoa11y/visitors/BulletGlyphVisitor.java
Due: spotless-apply, maven-test

feat(document/DocumentContext): Add bulletPositionCache hash map
  src/main/java/net/boyechko/pdf/autoa11y/document/DocumentContext.java
Due: spotless-apply, maven-test

fix(ParagraphOfLinksVisitor): Only fires if links > MIN_LINKS_COUNT
  src/main/java/net/boyechko/pdf/autoa11y/visitors/ParagraphOfLinksVisitor.java
  src/test/java/net/boyechko/pdf/autoa11y/visitors/ParagraphOfLinksVisitorTest.java
Due: spotless-apply, maven-test

tests: Write debug output to target/debug.log
  src/test/resources/simplelogger.properties
Due: none

Path conditions:
  spotless-apply: any of: \.java$
  maven-test: any of: \.(java|xml|yaml)$
