Repository boyechko/pdf-autoa11y: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotless-apply, maven-test

spotless-apply:
  name: Format code with spotless
  entry: mvn spotless:apply
  language: system
  pass_filenames: false
  fail_fast: true

maven-test:
  name: Run Maven tests
  entry: mvn test -q
  language: system
  pass_filenames: false

feat(document): Detect per-line font changes in marked-content blocks
  src/main/java/net/boyechko/pdf/autoa11y/document/ContentStream.java
  src/test/java/net/boyechko/pdf/autoa11y/document/ContentStreamTest.java
  src/test/resources/catalog_067.pdf
Due: spotless-apply, maven-test

feat(fixes): Add SplitMarkedContentFix for font-mixing blocks
  src/main/java/net/boyechko/pdf/autoa11y/fixes/SplitMarkedContentFix.java
  src/test/java/net/boyechko/pdf/autoa11y/fixes/SplitMarkedContentFixTest.java
Due: spotless-apply, maven-test

feat(checks): Add BadlyMarkedContentCheck for font-mixing blocks
  src/main/java/net/boyechko/pdf/autoa11y/checks/BadlyMarkedContentCheck.java
  src/main/java/net/boyechko/pdf/autoa11y/core/ProcessingDefaults.java
  src/main/java/net/boyechko/pdf/autoa11y/issue/IssueType.java
  src/test/java/net/boyechko/pdf/autoa11y/checks/BadlyMarkedContentCheckTest.java
Due: spotless-apply, maven-test

docs(changelog): Note BadlyMarkedContentCheck
  CHANGELOG.md
Due: none

feat(fixes): SplitIntoListItems leaves OK scribble on new list
  src/main/java/net/boyechko/pdf/autoa11y/fixes/ScribbledInstructionFix.java
  src/main/java/net/boyechko/pdf/autoa11y/fixes/SplitIntoListItemsFix.java
Due: spotless-apply, maven-test

fix(checks): Skip OBJR kids in BadlyMarkedContentCheck
  src/main/java/net/boyechko/pdf/autoa11y/checks/BadlyMarkedContentCheck.java
Due: spotless-apply, maven-test

fix(document): Detect line boundaries by baseline drop, not any move
  CHANGELOG.md
  src/main/java/net/boyechko/pdf/autoa11y/document/ContentStream.java
  src/test/java/net/boyechko/pdf/autoa11y/document/ContentStreamTest.java
Due: spotless-apply, maven-test

fix(checks): Restrict font-mixing splits to size changes and safe roles
  CHANGELOG.md
  src/main/java/net/boyechko/pdf/autoa11y/checks/BadlyMarkedContentCheck.java
  src/main/java/net/boyechko/pdf/autoa11y/document/ContentStream.java
  src/main/java/net/boyechko/pdf/autoa11y/fixes/SplitMarkedContentFix.java
  src/main/java/net/boyechko/pdf/autoa11y/issue/IssueType.java
  src/test/java/net/boyechko/pdf/autoa11y/document/ContentStreamTest.java
Due: spotless-apply, maven-test

feat(fixes): SplitMarkedContentFix leaves CONTENT SPLIT scribbles
  CHANGELOG.md
  src/main/java/net/boyechko/pdf/autoa11y/fixes/SplitMarkedContentFix.java
  src/test/java/net/boyechko/pdf/autoa11y/fixes/SplitMarkedContentFixTest.java
Due: spotless-apply, maven-test

test: Fix phantom line split in catalog_038-044 goal
  src/test/resources/catalog_038-044.ScribbledInstructionCheck.goal.txt
Due: none

ci: Run goal-driven integration tests in pre-commit
  .pre-commit-config.yaml
Due: maven-test

docs(CHANGELOG): Cut 0.5.0 release
  CHANGELOG.md
Due: none

fix(checks): MistaggedListCheck ignores series of same-dest links
  CHANGELOG.md
  src/main/java/net/boyechko/pdf/autoa11y/checks/MistaggedListCheck.java
  src/main/java/net/boyechko/pdf/autoa11y/document/Link.java
  src/test/java/net/boyechko/pdf/autoa11y/checks/MistaggedListCheckTest.java
Due: spotless-apply, maven-test

fix(tools): --dump-tree shows each MCR's own text
  CHANGELOG.md
  src/main/java/net/boyechko/pdf/autoa11y/tools/TreeDiagram.java
  src/test/resources/catalog_001.goal.txt
  src/test/resources/catalog_006.MistaggedListCheck.goal.txt
  src/test/resources/catalog_038-044.ScribbledInstructionCheck.goal.txt
  src/test/resources/catalog_202.MistaggedListCheck.goal.txt
Due: spotless-apply, maven-test

feat(checks): BadlySplitLinkCheck
  CHANGELOG.md
  src/main/java/net/boyechko/pdf/autoa11y/checks/BadlySplitLinkCheck.java
  src/main/java/net/boyechko/pdf/autoa11y/core/ProcessingDefaults.java
  src/main/java/net/boyechko/pdf/autoa11y/fixes/MergeSplitLinksFix.java
  src/main/java/net/boyechko/pdf/autoa11y/issue/IssueType.java
  src/test/java/net/boyechko/pdf/autoa11y/checks/BadlySplitLinkCheckTest.java
  src/test/java/net/boyechko/pdf/autoa11y/fixes/MergeSplitLinksFixTest.java
Due: spotless-apply, maven-test

docs(CLAUDE.md): document --only-checks and --include-checks flags
  CLAUDE.md
Due: none

fix(checks): MistaggedHeadingCheck demotes skipped levels
  CHANGELOG.md
  src/main/java/net/boyechko/pdf/autoa11y/checks/MistaggedHeadingCheck.java
  src/test/java/net/boyechko/pdf/autoa11y/checks/MistaggedHeadingCheckTest.java
Due: spotless-apply, maven-test

fix(document): plain /T titles are not scribbles
  CHANGELOG.md
  docs/checks-and-fixes.md
  src/main/java/net/boyechko/pdf/autoa11y/document/DocValue.java
  src/main/java/net/boyechko/pdf/autoa11y/tools/TreeDiagram.java
  src/test/java/net/boyechko/pdf/autoa11y/document/DocValueTest.java
  src/test/java/net/boyechko/pdf/autoa11y/tools/TreeDiagramTest.java
Due: spotless-apply, maven-test

feat(checks): StaleScribbleCheck takes scope setting
  CHANGELOG.md
  docs/checks-and-fixes.md
  docs/sidecar.md
  src/main/java/net/boyechko/pdf/autoa11y/checks/StaleScribbleCheck.java
  src/main/java/net/boyechko/pdf/autoa11y/ui/Cli.java
  src/main/java/net/boyechko/pdf/autoa11y/ui/SidecarConfig.java
  src/test/java/net/boyechko/pdf/autoa11y/checks/StaleScribbleCheckTest.java
Due: spotless-apply, maven-test

feat(checks): Add IrregularTocCheck for rebuilding TOCs
  CHANGELOG.md
  docs/checks-and-fixes.md
  src/main/java/net/boyechko/pdf/autoa11y/checks/IrregularTocCheck.java
  src/main/java/net/boyechko/pdf/autoa11y/core/ProcessingDefaults.java
  src/main/java/net/boyechko/pdf/autoa11y/fixes/IrregularTocFix.java
  src/main/java/net/boyechko/pdf/autoa11y/issue/IssueType.java
Due: spotless-apply, maven-test

chore: Add .goal.pdf to gitignore
  .gitignore
Due: none

tests: Add fixtures and goals for IrregularTocCheck
  src/test/resources/catalog_089-090.IrregularTocCheck.goal.txt
  src/test/resources/catalog_089-090.pdf
  src/test/resources/catalog_112.IrregularTocCheck.goal.txt
  src/test/resources/catalog_112.pdf
Due: none

chore: Scope pre-commit hooks by path and add shellcheck
  .pre-commit-config.yaml
Due: maven-test

chore(tools): Add extract-fixture.sh for cutting goal-driven fixtures
  CHANGELOG.md
  CLAUDE.md
  pom.xml
  tools/ExtractPages.java
  tools/extract-fixture.sh
Due: spotless-apply, maven-test

chore(tools): Add patch-goal-files.py for re-syncing goal files
  .gitignore
  CHANGELOG.md
  CLAUDE.md
  tools/patch-goal-files.py
Due: none

docs: Use input.pdf/output.pdf in command examples
  .github/ISSUE_TEMPLATE/bug_report.md
  CLAUDE.md
  src/test/java/net/boyechko/pdf/autoa11y/GoalDrivenIntegrationTest.java
Due: spotless-apply, maven-test

fix(document): Format.truncate() adds char count
  CHANGELOG.md
  src/main/java/net/boyechko/pdf/autoa11y/document/Format.java
  src/test/java/net/boyechko/pdf/autoa11y/document/FormatTest.java
  src/test/resources/catalog_001.goal.txt
  src/test/resources/catalog_005.MistaggedArtifactCheck.goal.txt
  src/test/resources/catalog_006.MistaggedListCheck.goal.txt
  src/test/resources/catalog_038-044.ScribbledInstructionCheck.goal.txt
  src/test/resources/catalog_089-090.IrregularTocCheck.goal.txt
  src/test/resources/catalog_112.IrregularTocCheck.goal.txt
  src/test/resources/catalog_202.MistaggedListCheck.goal.txt
Due: spotless-apply, maven-test

feat(document): Add polymorphic Format.node(IStructureNode)
  src/main/java/net/boyechko/pdf/autoa11y/document/Format.java
Due: spotless-apply, maven-test

docs(CLAUDE.md): Avoid duplicating helper methods
  CLAUDE.md
Due: none

refactor(document): Rename normalizeKArray() to kArrayAsArray()
  src/main/java/net/boyechko/pdf/autoa11y/document/StructTree.java
  src/main/java/net/boyechko/pdf/autoa11y/fixes/MergeSplitLinksFix.java
  src/main/java/net/boyechko/pdf/autoa11y/fixes/OrphanedContentFix.java
  src/main/java/net/boyechko/pdf/autoa11y/fixes/StructTreeOrderFix.java
  src/main/java/net/boyechko/pdf/autoa11y/fixes/UnexpectedWidgetFix.java
  src/main/java/net/boyechko/pdf/autoa11y/fixes/WrapBulletAlignedKidsInLBody.java
  src/test/java/net/boyechko/pdf/autoa11y/document/StructTreeTest.java
Due: spotless-apply, maven-test

chore: Add Policeman's Forbidden APIs Checker
  config/forbidden-apis.txt
  pom.xml
Due: maven-test

refactor: Replace `new PdfName("XXX")` with `PdfName.XXX`
  config/forbidden-apis.txt
  src/main/java/net/boyechko/pdf/autoa11y/document/RoleMap.java
  src/main/java/net/boyechko/pdf/autoa11y/fixes/ReorderWebCapturesFix.java
  src/main/java/net/boyechko/pdf/autoa11y/fixes/ScribbledInstructionFix.java
  src/main/java/net/boyechko/pdf/autoa11y/fixes/WrapWebCapturesFix.java
  src/test/java/net/boyechko/pdf/autoa11y/checks/EmptyLinkTagCheckTest.java
  src/test/java/net/boyechko/pdf/autoa11y/checks/InvalidLinkUriCheckTest.java
  src/test/java/net/boyechko/pdf/autoa11y/checks/MisartifactedTextCheckTest.java
  src/test/java/net/boyechko/pdf/autoa11y/checks/MissingDocumentCheckTest.java
  src/test/java/net/boyechko/pdf/autoa11y/document/DocValueTest.java
  src/test/java/net/boyechko/pdf/autoa11y/document/RoleMapTest.java
  src/test/java/net/boyechko/pdf/autoa11y/document/StructTreeTest.java
  src/test/java/net/boyechko/pdf/autoa11y/fixes/MergeAdjacentListsFixTest.java
  src/test/java/net/boyechko/pdf/autoa11y/fixes/MisartifactedTextFixTest.java
  src/test/java/net/boyechko/pdf/autoa11y/fixes/MissingDocumentFixTest.java
  src/test/java/net/boyechko/pdf/autoa11y/fixes/MistaggedArtifactFixTest.java
  src/test/java/net/boyechko/pdf/autoa11y/fixes/MistaggedHeadingFixTest.java
  src/test/java/net/boyechko/pdf/autoa11y/fixes/ReorderWebCapturesFixTest.java
  src/test/java/net/boyechko/pdf/autoa11y/fixes/ScribbledInstructionFixTest.java
  src/test/java/net/boyechko/pdf/autoa11y/fixes/StaleScribbleFixTest.java
  src/test/java/net/boyechko/pdf/autoa11y/fixes/WrapParagraphRunInListTest.java
Due: spotless-apply, maven-test

fix(document): Preserve page of tagged kids when moving
  src/main/java/net/boyechko/pdf/autoa11y/document/StructTree.java
  src/test/java/net/boyechko/pdf/autoa11y/document/StructTreeTest.java
  src/test/java/net/boyechko/pdf/autoa11y/fixes/ScribbledInstructionFixTest.java
Due: spotless-apply, maven-test

docs: Add a note about commit messages
  CONTRIBUTING.md
Due: none

feat(fixes): Add !MERGE scribbled instruction
  CHANGELOG.md
  docs/checks-and-fixes.md
  src/main/java/net/boyechko/pdf/autoa11y/fixes/ScribbledInstructionFix.java
  src/test/java/net/boyechko/pdf/autoa11y/fixes/ScribbledInstructionFixTest.java
Due: spotless-apply, maven-test

chore: Bump iTextPDF 9.5.0 -> 9.7.1
  pom.xml
Due: maven-test

fix(tools): Label plain titles as /T in tree diagrams
  CHANGELOG.md
  src/main/java/net/boyechko/pdf/autoa11y/document/DocValue.java
  src/test/java/net/boyechko/pdf/autoa11y/document/DocValueTest.java
  src/test/java/net/boyechko/pdf/autoa11y/tools/TreeDiagramTest.java
Due: spotless-apply, maven-test

feat(tools): Show table cell scope in tree diagram
  CHANGELOG.md
  src/main/java/net/boyechko/pdf/autoa11y/document/DocValue.java
  src/main/java/net/boyechko/pdf/autoa11y/document/StructTree.java
  src/main/java/net/boyechko/pdf/autoa11y/tools/TreeDiagram.java
  src/test/java/net/boyechko/pdf/autoa11y/document/DocValueTest.java
  src/test/java/net/boyechko/pdf/autoa11y/tools/TreeDiagramTest.java
Due: spotless-apply, maven-test

Path conditions:
  spotless-apply: any of: \.java$
  maven-test: any of: \.(java|xml|yaml)$
