Repository boyechko/pdf-autoa11y: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotless-apply, maven-test

.pre-commit-config.yaml:

# Pre-commit hooks for PDF-Auto-A11y
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      - id: spotless-apply
        name: Format code with spotless
        entry: mvn spotless:apply
        language: system
        pass_filenames: false
        files: \.java$
        fail_fast: true

      - id: maven-test
        name: Run Maven tests
        entry: mvn test -q
        language: system
        pass_filenames: false
        files: \.(java|xml|yaml)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict

feat(issue): Add atElem(DocContext, PdfStructElem) convenience ctor
  src/main/java/net/boyechko/pdf/autoa11y/issue/IssueLoc.java
Due: spotless-apply, maven-test

refactor(issue,ui,tests): MarkResolved/Failed() require IssueMsg
  src/main/java/net/boyechko/pdf/autoa11y/issue/Issue.java
  src/main/java/net/boyechko/pdf/autoa11y/ui/IssueFormatter.java
  src/test/java/net/boyechko/pdf/autoa11y/ui/AccessibilityReportTest.java
  src/test/java/net/boyechko/pdf/autoa11y/ui/FormattedListenerTest.java
Due: spotless-apply, maven-test

refactor(issue): Redesign IssueLoc as typed location model
  src/main/java/net/boyechko/pdf/autoa11y/document/Format.java
  src/main/java/net/boyechko/pdf/autoa11y/issue/IssueLoc.java
  src/test/java/net/boyechko/pdf/autoa11y/ui/AccessibilityReportTest.java
  src/test/java/net/boyechko/pdf/autoa11y/ui/FormattedListenerTest.java
Due: spotless-apply, maven-test

fix(issue/IssueType): Adjust group labels
  src/main/java/net/boyechko/pdf/autoa11y/issue/IssueType.java
Due: spotless-apply, maven-test

feat(ui/AccessibilityReport): Add "Resolved Breakdown" summary sect.
  src/main/java/net/boyechko/pdf/autoa11y/ui/AccessibilityReport.java
  src/test/java/net/boyechko/pdf/autoa11y/ui/AccessibilityReportTest.java
Due: spotless-apply, maven-test

refactor(document): Enrich Format.loc with IssueLoc object-kind formatting
  src/main/java/net/boyechko/pdf/autoa11y/document/Format.java
Due: spotless-apply, maven-test

feat(issue): Add IssueFix.resolvedItemCount()
  src/main/java/net/boyechko/pdf/autoa11y/issue/IssueFix.java
  src/main/java/net/boyechko/pdf/autoa11y/issue/IssueType.java
Due: spotless-apply, maven-test

refactor(checks,document): Extract findImageMcidsForElem to Content
  src/main/java/net/boyechko/pdf/autoa11y/checks/MissingAltTextCheck.java
  src/main/java/net/boyechko/pdf/autoa11y/checks/MistaggedArtifactCheck.java
  src/main/java/net/boyechko/pdf/autoa11y/document/Content.java
Due: spotless-apply, maven-test

refactor(ui/CLI): Extract logging setup to LoggingListener
  src/main/java/net/boyechko/pdf/autoa11y/ui/LogIssueFormatter.java
  src/main/java/net/boyechko/pdf/autoa11y/ui/LoggingListener.java
  src/main/java/net/boyechko/pdf/autoa11y/ui/cli/PdfAutoA11yCLI.java
  src/main/resources/logback.xml
Due: spotless-apply, maven-test

refactor(fixes): Propagate describeLocated()
  src/main/java/net/boyechko/pdf/autoa11y/fixes/ChangeFigureRole.java
  src/main/java/net/boyechko/pdf/autoa11y/fixes/ConvertToArtifact.java
  src/main/java/net/boyechko/pdf/autoa11y/fixes/CreateLinkTag.java
  src/main/java/net/boyechko/pdf/autoa11y/fixes/FlattenNesting.java
  src/main/java/net/boyechko/pdf/autoa11y/fixes/MoveSiblingMcrIntoLink.java
  src/main/java/net/boyechko/pdf/autoa11y/fixes/NormalizePageParts.java
  src/main/java/net/boyechko/pdf/autoa11y/fixes/RemapLigatures.java
  src/main/java/net/boyechko/pdf/autoa11y/fixes/RemoveEmptyElements.java
  src/main/java/net/boyechko/pdf/autoa11y/fixes/RemoveWidgetAnnotation.java
  src/main/java/net/boyechko/pdf/autoa11y/fixes/SetupDocumentStructure.java
  src/main/java/net/boyechko/pdf/autoa11y/fixes/child/ExtractLBodyToList.java
  src/main/java/net/boyechko/pdf/autoa11y/fixes/child/TagSingleChildFix.java
  src/main/java/net/boyechko/pdf/autoa11y/fixes/child/TreatLblFigureAsBullet.java
  src/main/java/net/boyechko/pdf/autoa11y/fixes/child/WrapInLBody.java
  src/main/java/net/boyechko/pdf/autoa11y/fixes/child/WrapInLI.java
  src/main/java/net/boyechko/pdf/autoa11y/fixes/children/ChangePToLblInLI.java
  src/main/java/net/boyechko/pdf/autoa11y/fixes/children/ListifyParagraphOfLinks.java
  src/main/java/net/boyechko/pdf/autoa11y/fixes/children/TagMultipleChildrenFix.java
  src/main/java/net/boyechko/pdf/autoa11y/fixes/children/WrapBulletAlignedKidsInLBody.java
  src/main/java/net/boyechko/pdf/autoa11y/fixes/children/WrapPairsOfLblLBodyInLI.java
  src/main/java/net/boyechko/pdf/autoa11y/fixes/children/WrapPairsOfLblPInLI.java
  src/main/java/net/boyechko/pdf/autoa11y/fixes/children/WrapParagraphRunInList.java
Due: spotless-apply, maven-test

refactor(fixes): Unify location formatting in RemoveWidgetAnnotation
  src/main/java/net/boyechko/pdf/autoa11y/fixes/RemoveWidgetAnnotation.java
Due: spotless-apply, maven-test

feat(issues): FlattenNesting, NormalizePageParts resolvedItemCount()
  src/main/java/net/boyechko/pdf/autoa11y/fixes/FlattenNesting.java
  src/main/java/net/boyechko/pdf/autoa11y/fixes/NormalizePageParts.java
  src/main/java/net/boyechko/pdf/autoa11y/fixes/RemoveWidgetAnnotation.java
Due: spotless-apply, maven-test

feat(ui/AccessibilityReport): Make use of IssueFix.resolvedItemCount
  src/main/java/net/boyechko/pdf/autoa11y/ui/AccessibilityReport.java
  src/test/java/net/boyechko/pdf/autoa11y/ui/AccessibilityReportTest.java
Due: spotless-apply, maven-test

refactor(issue,validation): Add describeLocated scaffold
  src/main/java/net/boyechko/pdf/autoa11y/issue/Issue.java
  src/main/java/net/boyechko/pdf/autoa11y/issue/IssueMsg.java
  src/main/java/net/boyechko/pdf/autoa11y/validation/CheckEngine.java
Due: spotless-apply, maven-test

refactor(validation/StructTreeCheck): Add location helpers
  src/main/java/net/boyechko/pdf/autoa11y/checks/BadlyMappedLigatureCheck.java
  src/main/java/net/boyechko/pdf/autoa11y/checks/EmptyLinkTagCheck.java
  src/main/java/net/boyechko/pdf/autoa11y/checks/FigureWithTextCheck.java
  src/main/java/net/boyechko/pdf/autoa11y/checks/ListlikeParagraphsCheck.java
  src/main/java/net/boyechko/pdf/autoa11y/checks/MissingAltTextCheck.java
  src/main/java/net/boyechko/pdf/autoa11y/checks/MistaggedArtifactCheck.java
  src/main/java/net/boyechko/pdf/autoa11y/checks/MistaggedBulletedListCheck.java
  src/main/java/net/boyechko/pdf/autoa11y/checks/ParagraphOfLinksCheck.java
  src/main/java/net/boyechko/pdf/autoa11y/checks/SchemaValidationCheck.java
  src/main/java/net/boyechko/pdf/autoa11y/checks/UnexpectedWidgetCheck.java
  src/main/java/net/boyechko/pdf/autoa11y/checks/UnmarkedLinkCheck.java
  src/main/java/net/boyechko/pdf/autoa11y/validation/StructTreeCheck.java
Due: spotless-apply, maven-test

fix(tagschema): Figure allowed under Lbl
  src/main/resources/tagschema-PDF-UA1.yaml
Due: maven-test

refactor(ui): IssueLocFormatter -> IssueFormatter
  src/main/java/net/boyechko/pdf/autoa11y/ui/AccessibilityReport.java
  src/main/java/net/boyechko/pdf/autoa11y/ui/FormattedListener.java
  src/main/java/net/boyechko/pdf/autoa11y/ui/IssueFormatter.java
  src/main/java/net/boyechko/pdf/autoa11y/ui/LogIssueFormatter.java
  src/main/java/net/boyechko/pdf/autoa11y/ui/LoggingListener.java
  src/main/java/net/boyechko/pdf/autoa11y/ui/UserIssueFormatter.java
Due: spotless-apply, maven-test

feat(ui): Add IssueLocFormatter.formatResolution()
  src/main/java/net/boyechko/pdf/autoa11y/ui/AccessibilityReport.java
  src/main/java/net/boyechko/pdf/autoa11y/ui/FormattedListener.java
  src/main/java/net/boyechko/pdf/autoa11y/ui/IssueLocFormatter.java
  src/main/java/net/boyechko/pdf/autoa11y/ui/LoggingListener.java
Due: spotless-apply, maven-test

refactor(ui): Apply Strategy pattern for IssueLoc formatting
  src/main/java/net/boyechko/pdf/autoa11y/ui/AccessibilityReport.java
  src/main/java/net/boyechko/pdf/autoa11y/ui/FormattedListener.java
  src/main/java/net/boyechko/pdf/autoa11y/ui/IssueLocFormatter.java
  src/main/java/net/boyechko/pdf/autoa11y/ui/LogIssueLocFormatter.java
  src/main/java/net/boyechko/pdf/autoa11y/ui/LoggingListener.java
  src/main/java/net/boyechko/pdf/autoa11y/ui/UserIssueLocFormatter.java
Due: spotless-apply, maven-test

docs: Add CLAUDE.md
  CLAUDE.md
Due: none

feat(checks/MistaggedArtifact): Configurable artifact text patterns
  src/main/java/net/boyechko/pdf/autoa11y/checks/MistaggedArtifactCheck.java
  src/main/resources/artifact_patterns.txt
  src/test/java/net/boyechko/pdf/autoa11y/checks/MistaggedArtifactCheckTest.java
Due: spotless-apply, maven-test

feat(content): ContainerKindListener handles EventType.RENDER_PATH
  src/main/java/net/boyechko/pdf/autoa11y/document/Content.java
  src/main/java/net/boyechko/pdf/autoa11y/document/StructTree.java
Due: spotless-apply, maven-test

feat(checks,document): MistaggedArtifactCheck handles paths
  src/main/java/net/boyechko/pdf/autoa11y/checks/MissingAltTextCheck.java
  src/main/java/net/boyechko/pdf/autoa11y/checks/MistaggedArtifactCheck.java
  src/main/java/net/boyechko/pdf/autoa11y/document/Content.java
  src/test/java/net/boyechko/pdf/autoa11y/checks/MistaggedArtifactCheckTest.java
  src/test/resources/UWBothellCatalog202425_001.goal.txt
  src/test/resources/UWBothellCatalog202425_006.goal.txt
Due: spotless-apply, maven-test

feat(document/StructTree): Add removeMcr()
  src/main/java/net/boyechko/pdf/autoa11y/document/StructTree.java
Due: spotless-apply, maven-test

tests(GoalDrivenIntegration): Add another test PDF; update goals
  src/test/java/net/boyechko/pdf/autoa11y/GoalDrivenIntegrationTest.java
  src/test/resources/UWBothellCatalog202425_005.goal.txt
  src/test/resources/UWBothellCatalog202425_005.pdf
  src/test/resources/UWBothellCatalog202425_006.goal.txt
Due: spotless-apply, maven-test

feat(checks,fixes): MistaggedArtifactCheck targets MCRs individually
  src/main/java/net/boyechko/pdf/autoa11y/checks/MistaggedArtifactCheck.java
  src/main/java/net/boyechko/pdf/autoa11y/fixes/ConvertToArtifact.java
  src/test/java/net/boyechko/pdf/autoa11y/fixes/ConvertToArtifactTest.java
Due: spotless-apply, maven-test

docs: Update README.md
  README.md
Due: none

docs: Update CHANGELOG.md
  CHANGELOG.md
Due: none

docs: Add Changelog Discipline to CLAUDE.md
  CLAUDE.md
Due: none

feat(script): More robust bootstrapping
  pdf-autoa11y
Due: none
